nav {
  background-color: transparent;
}

em {
  color: #05595b !important;
}

.jungle-body {
  background-image: url("../../images/gecko-jungle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: 0px 4px 4px 0px #00000040, inset 0 0 0 1000px rgba(0, 0, 0, 0.85);
}

.jungle-logo {
  background-color: #062c3028 !important;
}

.btn-welcome {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0);
}

.btn-welcome:hover {
  background-color: #0a1227;
  border-color: #0a1227;
}

.btn-send {
  background-color: #062c30;
  /* background-color: rgba(255, 255, 255, 0); */
  border-color: #fad390 !important;
}

.btn-send:hover {
  background-color: #062c30;
  border-color: #062c30 !important;
}

.header-menu {
  margin-top: 10px !important;
}
.has-fixed.is-dark .header-main {
  background: #062c30;
  padding: 0;
}

.dot {
  height: 100px;
  width: 100px;
  border: 1px solid red;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;

  text-align: center;
}

.social-links li a {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fad390 !important;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  color: #305082;
}

.social-links li a:hover {
  color: #247881;
  background: #fad390;
}

.contact-list li em {
  border: 1px solid #fad390 !important;
}

.contact-list li em:hover {
  color: #247881;
  background: #fad390;
}

.accordion-content p {
  color: white !important;
}

.accordion-icon:before,
.accordion-icon:after {
  color: #fad390 !important;
}
.current .accordion-icon:before,
.current .accordion-icon:after {
  color: #fad390 !important;
}

.partner-list .partner-logo {
  color: white !important;
  size: 20;
}

html {
  overflow-x: hidden !important;
}

.team-position {
  color: #fad390 !important;
}

.team-social li a em {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fad390 !important;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
}

.team-social li a em:hover {
  color: #247881;
  background: #fad390;
}
.tc-white { color: #fad390 !important; }
.bg-roadmap {
  border: 1px solid #fad390 !important;
  background: rgba(255, 255, 255, 0) !important;
}

/* .bg-roadmap:hover{
  color: #247881 !important;
  background: #fad390 !important;
} */

/* .roadmap-s2,
.roadmap-year {
  color: #247881 !important;
  background: #fad390 !important;
} */
.logo-text {
  margin-top: 2px;
  display: inline-block;
  color: darkviolet;
}
.jungle-logo-light {
  float: left;
  border-radius: 50%;
  margin: 0 10px;
  border: #fad390 solid 1px;
}

.mint{
  
}